{% extends 'base.html.twig' %}

{% block content %}
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
<!-- SECTION: Your Order Centered -->
<div class="section" style="min-height: 100vh; display: flex; align-items: center; justify-content: center ">
    <div class="order-details" style="width: 600px; padding: 30px; box-shadow: 0 5px 20px rgba(0,0,0,0.1); border-radius: 10px;">
        <div class="section-title text-center">
            <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
            <div class="order-col">
                <div><strong>PRODUCT</strong></div>
                <div><strong>TOTAL</strong></div>
            </div>
            <div class="order-products">
                <div class="order-col">
                    <div>1x Product Name Goes Here</div>
                    <div>$980.00</div>
                </div>
                <div class="order-col">
                    <div>2x Product Name Goes Here</div>
                    <div>$980.00</div>
                </div>
            </div>
            <div class="order-col">
                <div>Shipping</div>
                <div><strong>FREE</strong></div>
            </div>
            <div class="order-col">
                <div><strong>TOTAL</strong></div>
                <div><strong class="order-total">$2940.00</strong></div>
            </div>
        </div>

        <div class="payment-method">
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-1">
                <label for="payment-1">
                    <span></span>
                    Direct Bank Transfer
                </label>
            </div>
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-2">
                <label for="payment-2">
                    <span></span>
                    Cheque Payment
                </label>
            </div>
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-3">
                <label for="payment-3">
                    <span></span>
                    Paypal System
                </label>
            </div>
        </div>

        <div class="input-checkbox">
            <input type="checkbox" id="terms">
            <label for="terms">
                <span></span>
                I've read and accept the <a href="#">terms & conditions</a>
            </label>
        </div>

        <a href="#" class="primary-btn order-submit" style="display: block; text-align: center; margin-top: 20px;">Place order</a>
    </div>
</div>


{% endblock%}

